@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                County Analysis
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row mt-1">
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        <div class="alert-body">
                                            Retrieves a report of all batches and their submitted counts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-sm-6 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        Select Petition :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-control coordinator" id="basicSelect">
                                                        @if (Model != null)
                                                        {
                                                            @if (Model.users != null)
                                                            {
                                                                foreach (var u in Model.users)
                                                                {
                                                                    <option value="@u.userId">@u.userName</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <button type="button" class="submit btn btn-sm btn-primary float-right float-sm-left">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="table" id="batchesSubmitted">
                                        <thead>
                                            <tr>
                                                <th>Batch</th>
                                                <th>Submitted Count</th>
                                                <th>Circ Sigs</th>
                                                <th>Raw</th>
                                                <th>Purged</th>
                                                <th>Total Diff</th>
                                                <th>Net</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>

@section Scripts {
    <script>
        var table = $('#batchesSubmitted');
        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: 'Batch' },
                { data: 'Submitted Count' },
                { data: 'Circ Sigs' },
                { data: 'Raw' },
                { data: 'Purged' },
                { data: 'Total Diff' },
                { data: 'Net' },
            ],
        });
        $(".submit").click(function () {
            var id = $(".coordinator").find(":selected").val();
            var data = {
                'id': id,
            }
            $.ajax({
                url: "/reports/CoordBatchListSubmitted",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#batchesSubmitted').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "Batch": element["county"],
                            "Submitted Count": element["initsigs"],
                            "Circ Sigs": element["circinitsigs"],
                            "Raw": element["rawcount"],
                            "Purged": element["purgecount"],
                            "Total Diff": element["purgecount"] - (element["rawcount"] - element["initsigs"]),
                            "Net": element["initsigs"] - (element["purgecount"] - (element["rawcount"] - element["initsigs"])),
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()
                },
                error: function (error) {
                    console.log(error);
                }
            });

        })
    </script>
}