@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model List<Petition>
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                County Analysis
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row mt-1">
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        <div class="alert-body">
                                            Retrieves a report of all batches and their submitted counts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-sm-6 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        Select Petition :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-control petition" id="basicSelect">
                                                        @if (Model != null)
                                                        {
                                                            foreach (var petition in Model)
                                                            {
                                                                <option value="@petition.PetitionId">@petition.Petitionname</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        Select Date :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" id="fp-default" class="date form-control flatpickr-basic bg-white" placeholder="YYYY-MM-DD" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mt-1">
                                            <button type="button" id="Submit" class="btn btn-sm btn-primary float-right">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="table" id="batchesSubmitted">
                                        <thead>
                                            <tr>
                                                <th>County</th>
                                                <th>Verified</th>
                                                <th>Bad</th>
                                                <th>Dups</th>
                                                <th>Percent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>

@section Scripts {
    <script>
        var table = $('#batchesSubmitted');
        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: 'County' },
                { data: 'Verified' },
                { data: 'Bad' },
                { data: 'Dups' },
                { data: 'Percent' },
            ],
        });
        $("#Submit").click(function () {
            var id = $(".petition").find(":selected").val();
            var date = $(".date").val();
            var data = {
                'id': id,
                'date': date,
            }
            $.ajax({
                url: "/reports/GetPetitionCountyStats",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#batchesSubmitted').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "County": element["county"],
                            "Verified": element["Ttlvalid"],
                            "Bad": element["Ttlbad"],
                            "Dups": element["Ttldup"],
                            "Percent": element["Ttlpercent"],
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()
                },
                error: function (error) {
                    console.log(error);
                }
            });

        })
    </script>
}