@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM

<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Validator Activity
                            </h4>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-12 col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-sm-4 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        Select :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <select class="form-control petition" id="basicSelect">
                                                        @if (Model != null)
                                                        {
                                                            @if (Model.users != null)
                                                            {
                                                                foreach (var u in Model.users)
                                                                {
                                                                    <option value="@u.userId">@u.userName</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        Start Date :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" id="fp-default" class="startdate form-control flatpickr-basic bg-white" placeholder="YYYY-MM-DD" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-1">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label class="float-right text-right mt-1">
                                                        End Date :
                                                    </label>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" id="fp-default" class="enddate form-control flatpickr-basic bg-white" placeholder="YYYY-MM-DD" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mt-1">
                                            <button type="button" id="Submit" class="btn btn-sm btn-primary float-right">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="table" id="batchesSubmitted">
                                        <thead>
                                            <tr>
                                                <th>Petition</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Good</th>
                                                <th>Bad</th>
                                                <th>Dups</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>


@section Scripts {
    <script>
        var table = $('#batchesSubmitted');
        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: 'Petition' },
                { data: 'First Name' },
                { data: 'Last Name' },
                { data: 'Good' },
                { data: 'Bad' },
                { data: 'Dups' },
            ],
        });
        $("#Submit").click(function () {
            var id = $(".petition").find(":selected").val();
            var startdate = $(".startdate").val();
            var enddate = $(".enddate").val();
            var data = {
                'id': id,
                'startdate': startdate,
                'enddate': enddate,
            }
            $.ajax({
                url: "/reports/GetValidatorData",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#batchesSubmitted').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "Petition": element["petitionname"],
                            "First Name": element["FName"],
                            "Last Name": element["LName"],
                            "Good": element["ttlgood"],
                            "Bad": element["ttlbad"],
                            "Dups": element["ttldup"],
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()
                },
                error: function (error) {
                    console.log(error);
                }
            });

        })
    </script>
}