@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="collapse-margin collapse-icon my-2" id="faq-payment-qna">
                <div class="card">
                    <div class="card-header collapsed" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                        <span class="lead collapse-title text-primary">
                            Purge Codes
                        </span>
                    </div>

                    <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna" style="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-group list-group-circle text-left">
                                        <li class="list-group-item">
                                            A =	Initials
                                        </li>
                                        <li class="list-group-item">
                                            B =	P.O.Box
                                        </li>
                                        <li class="list-group-item">
                                            C =	Different County
                                        </li>
                                        <li class="list-group-item">
                                            D =	Incomplete Address
                                        </li>
                                        <li class="list-group-item">
                                            E =	Address Illegible
                                        </li>
                                        <li class="list-group-item">
                                            F =	Signature Printed or Printed Name Illegible
                                        </li>
                                        <li class="list-group-item">
                                            G =	Printed Name Twice/No Signature
                                        </li>
                                        <li class="list-group-item">
                                            H =	Husband/Wife Signing for One Another
                                        </li>


                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-group list-group-circle text-left">

                                        <li class="list-group-item">
                                            J =	A Woman Signing Mrs. (Husband's First Name)
                                        </li>
                                        <li class="list-group-item">
                                            K =	Forgeries
                                        </li>
                                        <li class="list-group-item">
                                            L =	Incomplete Declaration of Circulator
                                        </li>
                                        <li class="list-group-item">
                                            M =	Validity
                                        </li>
                                        <li class="list-group-item">
                                            P =	Pencil
                                        </li>
                                        <li class="list-group-item">
                                            R =	Duplicate Signature
                                        </li>
                                        <li class="list-group-item">
                                            S =	White Out
                                        </li>
                                        <li class="list-group-item">
                                            T =	New Reg
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Edit Purge Counts
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 pr-0 mt-1">
                                            <span class="float-right text-right">Select Coordinator :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm cordcirculator" id="basicSelect">
                                                @if (Model != null)
                                                {
                                                    @if (Model.users != null)
                                                    {
                                                        foreach (var u in Model.users)
                                                        {
                                                            <option value="@u.userId">@u.userName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1 px-lg-0 px-xl-1">
                                            <button type="button" id="getbatchlist" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Show Batch List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 pr-0 mt-1">
                                            <span class="float-right text-right">Select a Batch :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm displayBatch" id="basicSelect">
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1">
                                            <button type="button" id="displayBatch" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Dispaly Batch</button>
                                        </div>
                                    </div>
                                </div>

                                    </div>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>
@section Scripts {
    <script>
        var table = $('#batchlist');

        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: '', searchable: false },
                { data: 'Circulator', searchable: false },
                { data: 'Circ New Reg', searchable: true },
                { data: 'Initial Sigs' },
                { data: 'Submit Count' },
                { data: 'Raw Count' },
                { data: 'A' },
                { data: 'B' },
                { data: 'C' },
                { data: 'D' },
                { data: 'E' },
                { data: 'F' },
                { data: 'G' },
                { data: 'H' },
                { data: 'J' },
                { data: 'K' },
                { data: 'L' },
                { data: 'M' },
                { data: 'P' },
                { data: 'R' },
                { data: 'S' },
                { data: 'T' },
                { data: 'Total Sigs' },
                { data: 'Action' },
            ],
        });
        $("#getbatchlist").click(function () {
            var data = {
                'id': $(".cordcirculator").find(":selected").val(),
            }
            $.ajax({
                url: "/batches/getbatchlist",
                type: "Get",
                data: data,
                success: function (res) {
                    var list = $(".displayBatch");
                    res.map(element => {
                        list.append(`<option value="${element['batchId']}">${element['batchId']}</option>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $("#displayBatch").click(function () {
            var data = {
                'id': parseInt($(".displayBatch").find(":selected").val()),
            }
            $.ajax({
                url: "/batches/displayBatch",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#batchlist').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "": '',
                            "Circulator": ["firstname"] + element["lastname"],
                            "Circ New Reg": element["firstname"],
                            "Initial Sigs": element["circinitsigs"],
                            "Submit Count": element["submittedCount"],
                            "Raw Count": element["circrawcount"],
                            "A": element["pcInitials"],
                            "B": element["pcpobox"],
                            "C": element["pcdiffcounty"],
                            "D": element["pcIncomAddr"],
                            "E": element["pcAddrIllegOrCopy"],
                            "F": element["pcSigPrintedOrPrintIlleg"],
                            "G": element["pcNameTwiceNoSig"],
                            "H": element["pcHWSignForOther"],
                            "J": element["pcWomanSignMrsHusbandFname"],
                            "K": element["pcForgery"],
                            "L": element["pcIncomDeclCirc"],
                            "M": element["pcRubStampUsed"],
                            "P": element["pcPencilUsed"],
                            "R": element["pcDupSig"],
                            "S": element["pcWhiteOut"],
                            "T": element["pcOther"],
                            "Total Sigs": element["totalSigs"],
                            "Action": element["batchid"],
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()

                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script>
}