@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="collapse-margin collapse-icon my-2" id="faq-payment-qna">
                <div class="card">
                    <div class="card-header collapsed" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                        <span class="lead collapse-title text-primary">
                            Purge Codes
                        </span>
                    </div>

                    <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna" style="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-group list-group-circle text-left">
                                        <li class="list-group-item">
                                            A =	Initials
                                        </li>
                                        <li class="list-group-item">
                                            B =	P.O.Box
                                        </li>
                                        <li class="list-group-item">
                                            C =	Different County
                                        </li>
                                        <li class="list-group-item">
                                            D =	Incomplete Address
                                        </li>
                                        <li class="list-group-item">
                                            E =	Address Illegible
                                        </li>
                                        <li class="list-group-item">
                                            F =	Signature Printed or Printed Name Illegible
                                        </li>
                                        <li class="list-group-item">
                                            G =	Printed Name Twice/No Signature
                                        </li>
                                        <li class="list-group-item">
                                            H =	Husband/Wife Signing for One Another
                                        </li>


                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-group list-group-circle text-left">

                                        <li class="list-group-item">
                                            J =	A Woman Signing Mrs. (Husband's First Name)
                                        </li>
                                        <li class="list-group-item">
                                            K =	Forgeries
                                        </li>
                                        <li class="list-group-item">
                                            L =	Incomplete Declaration of Circulator
                                        </li>
                                        <li class="list-group-item">
                                            M =	Validity
                                        </li>
                                        <li class="list-group-item">
                                            P =	Pencil
                                        </li>
                                        <li class="list-group-item">
                                            R =	Duplicate Signature
                                        </li>
                                        <li class="list-group-item">
                                            S =	White Out
                                        </li>
                                        <li class="list-group-item">
                                            T =	New Reg
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Edit Purge Counts
                            </h4>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-12 col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-sm-6 mt-1">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="float-right text-right mt-1">
                                                        Select a Coordinator :
                                                    </label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control petition" id="basicSelect">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-1">
                                            <button type="button" id="Submit" class="btn btn-sm btn-primary float-left">Show Batche List</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 mt-1">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="float-right text-right mt-1">
                                                        Select a Coordinator:
                                                    </label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control petition" id="basicSelect">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-1">
                                            <button type="button" id="Submit" class="btn btn-sm btn-primary float-left">Display Batches</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>