@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
        <h3 class="text-primary">
            Operational Info
        </h3>
        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
            <div class="card">
                <div class="card-header collapsed" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="true" aria-controls="faq-payment-one">
                    <span class="lead collapse-title">PORTAL REGISTRATION</span>
                </div>

                <div id="faq-payment-one" class="collapse show" aria-labelledby="paymentOne" data-parent="#faq-payment-qna" style="">
                    <div class="card-body">
                        <ul class="list-group list-group-circle text-left">
                            <li class="list-group-item">
                                Coordinators need to reqister in order to log into the site.
                            </li>
                            <li class="list-group-item">
                                SubCoordinators need to register in order to log into the site.
                            </li>
                            <li class="list-group-item">
                                External Validators need to register in order to log into the site.
                            </li>
                            <li class="list-group-item">
                                Circulators DO NOT need to register, they do not log into the site. They just appear in the appropriate dropdown lists.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="CIRCULATORSOne" data-toggle="collapse" role="button" data-target="#CIRCULATORS" aria-expanded="false" aria-controls="CIRCULATORS">
                    <span class="lead collapse-title">CIRCULATORS</span>
                </div>

                <div id="CIRCULATORS" class="collapse" aria-labelledby="CIRCULATORSOne" data-parent="#faq-payment-qna" style="">
                    <div class="card-body">
                        <ul class="list-group list-group-circle text-left">
                            <li class="list-group-item">
                                Once created, circulators cannot be deleted.
                            </li>
                            <li class="list-group-item">
                                The Admin and Office Managers can create circulators for any coordinator.
                            </li>
                            <li class="list-group-item">
                                The Coordinator and SubCoordinator can add circulators for their organization only.
                            </li>
                            <li class="list-group-item">
                                SubCoordinators will be able to see ALL the circulators that work for the Coordinator. This is necessary so two different SubCoordinators don't enter the same person for the same coordinator.
                            </li>
                            <li class="list-group-item">
                                In order to retain their identity, a coordinator's name cannot be changed.
                            </li>
                            <li class="list-group-item">
                                A circulator can be hidden from the dropdown list by using the manage circulators modules
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="OTHERROLESOne" data-toggle="collapse" role="button" data-target="#OTHERROLES" aria-expanded="false" aria-controls="OTHERROLES">
                    <span class="lead collapse-title">OTHER ROLES</span>
                </div>

                <div id="OTHERROLES" class="collapse" aria-labelledby="OTHERROLESOne" data-parent="#faq-payment-qna" style="">
                    <div class="card-body">
                        <ul class="list-group list-group-circle text-left">
                            <li class="list-group-item">
                                Coordinators have to be assigned by KPM through the KPM Manage menu
                            </li>
                            <li class="list-group-item">
                                SubCoordinators have to be assigned to their coordinator by KPM through the KPM Manage menu
                            </li>
                            <li class="list-group-item">
                                External Valiators have to be assigned to their coordinator by KPM through the KPM Manage menu
                            </li>
                            <li class="list-group-item">
                                Coordinators do not have to be given External Validator priviledges. It is part of their role.
                            </li>
                            <li class="list-group-item">
                                Since not all SubCoordinators will be validating, they do have to be give External Validator priviledges through the Admin function.<span class="font-weight-bold">They must be assigned as SubCoordinators first</span>.
                            </li>
                            <li class="list-group-item">
                                Office Managers can see all internal report and functions.  They are not for use outside of KPM.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="BATCHESOne" data-toggle="collapse" role="button" data-target="#BATCHES" aria-expanded="false" aria-controls="BATCHES">
                    <span class="lead collapse-title">BATCHES</span>
                </div>

                <div id="BATCHES" class="collapse" aria-labelledby="BATCHESOne" data-parent="#faq-payment-qna" style="">
                    <div class="card-body">
                        <ul class="list-group list-group-circle text-left">
                            <li class="list-group-item">
                                The Admin (Debbi) or Office Manager can create batches for any cooordinator
                            </li>
                            <li class="list-group-item">
                                The coordinator can create new  batches for their organization only and add entries to their batch sheets.
                            </li>
                            <li class="list-group-item">
                                Once a batch list is received (admin enters the date received), entries cannot be deleted.
                            </li>
                            <li class="list-group-item">
                                Once a batch has entries, the batch cannot be deleted
                            </li>
                            <li class="list-group-item">
                                Since a batch may arrive with extra signature sheets that are not on the batch sheet, the admin and Office Managers can add entries to a batch after it has arrived.  However they cannot deleted entries
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>