@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h3 class="card-title">
                                Operational Info
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="text-dark">
                                <h5>PORTAL REGISTRATION</h5>
                                <li class="ml-3">Coordinators need to reqister in order to log into the site.</li>
                                <li class="ml-3">SubCoordinators need to register in order to log into the site.</li>
                                <li class="ml-3">External Validators need to register in order to log into the site.</li>
                                <li class="ml-3">Circulators DO NOT need to register, they do not log into the site. They just appear in the appropriate dropdown lists.</li>
                                <h5>CIRCULATORS</h5>

                                Once created, circulators cannot be deleted.
                                The Admin and Office Managers can create circulators for any coordinator.
                                The Coordinator and SubCoordinator can add circulators for their organization only.
                                SubCoordinators will be able to see ALL the circulators that work for the Coordinator. This is necessary so two different SubCoordinators don't enter the same person for the same coordinator.
                                In order to retain their identity, a coordinator's name cannot be changed.
                                A circulator can be hidden from the dropdown list by using the manage circulators modules

                                <h5>OTHER ROLES</h5>

                                Coordinators have to be assigned by KPM through the KPM Manage menu
                                SubCoordinators have to be assigned to their coordinator by KPM through the KPM Manage menu
                                External Valiators have to be assigned to their coordinator by KPM through the KPM Manage menu
                                Coordinators do not have to be given External Validator priviledges. It is part of their role.
                                Since not all SubCoordinators will be validating, they do have to be give External Validator priviledges through the Admin function. They must be assigned as SubCoordinators first.
                                Office Managers can see all internal report and functions.  They are not for use outside of KPM.

                                <h5>BATCHES</h5>

                                The Admin (Debbi) or Office Manager can create batches for any cooordinator
                                The coordinator can create new  batches for their organization only and add entries to their batch sheets.
                                Once a batch list is received (admin enters the date received), entries cannot be deleted.
                                Once a batch has entries, the batch cannot be deleted
                                Since a batch may arrive with extra signature sheets that are not on the batch sheet, the admin and Office Managers can add entries to a batch after it has arrived.  However they cannot deleted entries

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>