@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home";
}
<div>
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="col-xl-12 col-md-12 col-sm-12 p-0">
                <div class="card mb-0">
                    <div class="card-content">
                        <div class="card-body">
                            <h1 class="card-title text-center">Welcome</h1>
                            <p>
                                To the new home of KPM.

                                Please Login.

                                If you are having trouble logging in:

                                Check your username and password.  They are case sensitive

                                Your cookie might be corrupted. To delete your cookies:
                            </p>

                        </div>
                        <ul class="">
                            <li class="">
                                Click on Tools/Internet Options

                            </li>
                            <li class="">
                                Under Browsing History, click on 'Delete'

                            </li>
                            <li class="">
                                In the 'Cookies' section, click on 'Delete cookies'. CAUTION, this will delete your stored information (accounts, passwords) for logging into other sites as well.

                            </li>
                            <li class="">
                                confirm the delete and then click on 'close'

                            </li>
                            <li class="">
                                click on 'OK'

                            </li>

                        </ul>
                        <div>
                            <h4 class="pl-2">If you are using Mozilla Firefox</h4>
                        </div>

                        <ul class="">
                            <li class="">
                                Use the Tools/Options menu.

                            </li>
                            <li class="">
                                Find the privacy tab and click on 'show cookies'

                            </li>

                            <li class="">
                                Find the KPM.com cookie in the list.  Highlight it and click on the 'Remove Cookie' button.

                            </li>


                        </ul>
                        <div class="card-body">
                            <p>Try to login again.</p>
                            <p>If you still can't login, please contact KPM.</p>
                            <p>Thank You,</p>
                            <p>KPM Management</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>