@{
    ViewBag.Title = "User Registration";
}
@model RegisterVM
   
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v1 px-2">
                    <div class="auth-inner  py-2" style="max-width: 100%!important;">
                        <!-- Register v1 -->
                        <div class="row">
                            <div class="col-lg-12 col-xl-8 offset-xl-2">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <div class="alert alert-primary" role="alert">
                                                    <div class="alert-body font-medium-5">
                                                       Sign Up
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-text mb-2 p-2 bg-light-warning">*Note: Membership to this site is private. Once your account information has been submitted, the Site Administrator will be notified and your application will be subjected to a screening procedure. If your application is authorized, you will receive notification that you can access the site. All fields marked with a red asterisk are required. (Note: - Registration may take several seconds. Once you click the Register button please wait until the system responds.</p>
                                        <form class="auth-register-form mt-2" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name">First Name</label>
                                                        <input type="text" asp-for="firstName" class="form-control" placeholder=" First Name" aria-label="Name" aria-describedby="basic-addon-name" tabindex="1" autofocus required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name"> Last Name</label>
                                                        <input type="text" asp-for="lastName" class="form-control" placeholder=" Last Name" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="userName" class="form-label">Username</label>
                                                        <input type="text" asp-for="userName" class="form-control" id="userName" name="userName" placeholder="johndoe" aria-describedby="register-username" required />
                                                    </div>
                                                    <span asp-validation-for="userName" class="text-danger"></span>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="email" class="form-label">Email</label>
                                                        <input type="email" asp-for="email" class="form-control" name="email" placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus="" required>
                                                    </div>
                                                    <span asp-validation-for="email" class="text-danger"></span>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="password" class="form-label">Password</label>
                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" asp-for="password" class="form-control form-control-merge" id="register-password" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="register-password" tabindex="3" required />
                                                        </div>
                                                        <span asp-validation-for="password" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>

                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" asp-for="ConfirmPassword" class="form-control form-control-merge" name="ConfirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="register-password" tabindex="3" required />
                                                        </div>
                                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name">Address</label>
                                                        <input type="text" asp-for="address" class="form-control" placeholder=" Address" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name"> City</label>
                                                        <input type="text" asp-for="city" class="form-control" placeholder=" City" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name"> State</label>
                                                        <input type="text" asp-for="state" class="form-control" placeholder=" State" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name"> Phone Number</label>
                                                        <input type="text" asp-for="phoneNumber" class="form-control" placeholder=" Phone Number" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="basic-addon-name"> Zip Code</label>
                                                        <input type="text" asp-for="zipCode" class="form-control" placeholder=" Zip Code" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your name.</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-sm btn-primary px-5" id="RegisterUser">Sign up</button>
                                                </div>
                                            </div>
                                        </form>

                                        <p class="text-center mt-2">
                                            <span>Already have an account?</span>
                                            <a href="/account/login">
                                                <span>Sign in instead</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- /Register v1 -->
                    </div>
                </div>

            </div>
        
    @section Scripts{
        <script>
            $('#register-password, #confirm_password').on('keyup', function () {
                if ($('#register-password').val() == $('#confirm_password').val()) {
                    $('#message').html('Matching').css('color', 'green');
                } else
                    $('#message').html('Not Matching').css('color', 'red');
            });
        </script>

    }