@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Manage Circulators
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-primary" role="alert">
                                        <div class="alert-body">
                                            Edit a circulator's contact informaton by clicking on the 'edit' link. You can change the circulator's status while you are in the edit screen.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-12 col-xl-10">
                                    <div class="row">
                                        <div class="col-6 col-lg-4 d-flex px-0 pl-sm-1 pr-0 mt-1">
                                            <span class="float-right text-right">Select a Coordinator :</span>
                                        </div>
                                        <div class="col-6 col-lg-5 mt-1">
                                            <select class="form-control form-control-sm cordcirculator" id="basicSelect">
                                                @if (Model.users != null)
                                                {
                                                    foreach (var u in Model.users)
                                                    {
                                                        <option value="@u.userId">@u.userName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-12 col-lg-2 p-lg-0 d-lg-flex mt-1">
                                            <button type="button" id="showcirculator" class="btn btn-sm btn-primary flexCenter float-right">Go</button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row mt-1 circulatorTable" style="display: none">
                                <div class="col-12">
                                    <table class="table" id="circulatorlist">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Display Name</th>
                                                <th>Action</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Create Circulator
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4 d-flex px-0 ">
                                            <span class="float-right text-right">Select a Coordinator :</span>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control form-control-sm coordinator" id="basicSelect">
                                                @if (Model.users != null)
                                                {
                                                    foreach (var u in Model.users)
                                                    {
                                                        <option value="@u.userId">@u.userName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-2 d-flex px-0 ">
                                            <button type="button" class="btn btn-sm btn-primary flexCenter">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row mt-1">
                                <div class="col-4 d-flex pr-0 pl-lg-1">
                                    <span class="float-right text-right">Select :</span>
                                </div>
                                <div class="col-6">
                                    <select class="form-control form-control-sm" id="basicSelect">
                                        <option>Thor Ragnarok</option>
                                        <option>IT</option>
                                        <option>Blade Runner</option>
                                    </select>
                                </div>

                            </div>*@
                            <div class="row">
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">First Name :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="first_name" class="form-control form-control-sm" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">Last Name :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="last_name" class="form-control form-control-sm" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">Address :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="address" class="form-control form-control-sm" placeholder="Address">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">City :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="city" class="form-control form-control-sm" placeholder="City">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">State :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="state" class="form-control form-control-sm" placeholder="State">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">Zip :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="zip" class="form-control form-control-sm" placeholder="5 or 9 digits">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <div class="row">
                                        <div class="col-4 d-flex pr-0">
                                            <span class="float-right text-right">Cell :</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="phone" class="form-control form-control-sm" placeholder="(xxx)xxx-xxxx">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-1">
                                    <button class=" btn btn-sm btn-primary float-right" id="add_circulator">Add Circulator</button>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>
@section Scripts {
    <script>
        var table = $('#circulatorlist');

        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: '', searchable: false },
                { data: 'First Name' },
                { data: 'Last Name' },
                { data: 'Display Name' },
                { data: 'Action'},
                { data: 'Status' },
            ],
            order: [2, "desc"],
        });
        $("#showcirculator").click(function () {
            $(".circulatorTable").show();
            var data = {
                'id': $(".cordcirculator").find(":selected").val(),
            }
            $.ajax({
                url: "/batches/getcirculator",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#circulatorlist').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "": '',
                            "First Name": element["firstname"],
                            "Last Name": element["lastname"],
                            "Display Name": element["displayname"],
                            "Status": element["status"],
                            "Action": `<a href="#" id="editUser" data-toggle="modal" data-target="#exampleModalCenter">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 mr-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                        </a>`,
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $("#add_circulator").click(function () {
            console.log("addfunction");
            var petetionId = $(".Selectpetition").find(":selected").val();
            petetionId = parseInt(petetionId);
            var data = {
                'KpmuserType': 'KPM Circulator',
                'FirstName': $("#first_name").val(),
                'LastName': $("#last_name").val(),
                'CoordAssigned': $(".coordinator").find(":selected").val(),
                'DisplayName': $("#last_name").val() + ", " + $("#first_name").val(),
                'Addr': $("#address").val(),
                'City': $("#city").val(),
                'State': $("#state").val(),
                'Zip': $("#zip").val(),
                'Telephone': $("#phone").val(),
                'Status': "Active"
            }
            console.log(JSON.stringify(data));
            $.ajax({
                url: "/batches/addcirculator",
                type: "Post",
                data: data,
                success: function (res) {
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}