@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Edit Batch Purge Codes
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 pr-0 mt-1">
                                            <span class="float-right text-right">Select Coordinator :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm cordcirculator" id="basicSelect">
                                                @if (Model != null)
                                                {
                                                    @if (Model.users != null)
                                                    {
                                                        foreach (var u in Model.users)
                                                        {
                                                            <option value="@u.userId">@u.userName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1 px-lg-0 px-xl-1">
                                            <button type="button" id="getbatchlist" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Show Batch List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 pr-0 mt-1">
                                            <span class="float-right text-right">Select a Batch :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm displayBatch" id="basicSelect">
                                                
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1">
                                            <button type="button" id="displayBatch" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Dispaly Batch</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="datatables-basic table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Date</th>
                                                <th>Salary</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>
@section Scripts {
    <script>
        $("#getbatchlist").click(function () {
            var data = {
                'id': $(".cordcirculator").find(":selected").val(),
            }
            $.ajax({
                url: "/batches/getbatchlist",
                type: "Get",
                data: data,
                success: function (res) {
                    var list = $(".displayBatch");
                    res.map(element => {
                        list.append(`<option value="${element['batchId']}">${element['batchId']}</option>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $("#displayBatch").click(function () {
            var data = {
                'id': parseInt($(".displayBatch").find(":selected").val()),
            }
            $.ajax({
                url: "/batches/displayBatch",
                type: "Get",
                data: data,
                success: function (res) {
                    var list = $(".displayBatch");
                    res.map(element => {
                        list.append(`<option value="${element['batchId']}">${element['batchId']}</option>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script>
}