@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Edit Batch Purge Codes
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-xl-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 p-0 p-sm-1 pr-0">
                                            <span class="float-right text-right">Select a Coordinator :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm" id="basicSelect">
                                                <option>Thor Ragnarok</option>
                                                <option>IT</option>
                                                <option>Blade Runner</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1 px-lg-0 px-xl-1 pl-0">
                                            <button type="button" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Show Batch List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-6 col-md-4 col-xl-3 p-0 p-sm-1 pr-0">
                                            <span class="float-right text-right">Select a Batch :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm" id="basicSelect">
                                                <option>Thor Ragnarok</option>
                                                <option>IT</option>
                                                <option>Blade Runner</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xl-5 mt-1 p-lg-0">
                                            <button type="button" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Dispaly Batch</button>
                                            <button type="button" class="btn btn-sm btn-primary flexCenter float-right float-sm-left" style="margin-left:5px;margin-right:5px;">Create PDF</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="datatables-basic table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Date</th>
                                                <th>Salary</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                                <td>abc</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>