@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model createBatchVM
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">
                                Edit Batch Purge Codes
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-xl-6 mt-1">
                                    <div class="row">
                                        <div class="col-6 col-md-4 p-0 p-sm-1 pr-0">
                                            <span class="float-right text-right">Select a Coordinator :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm cordcirculator" id="basicSelect">
                                                @if (Model != null)
                                                {
                                                    @if (Model.users != null)
                                                    {
                                                        foreach (var u in Model.users)
                                                        {
                                                            <option value="@u.userId">@u.userName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-1 px-lg-0 px-xl-1 pl-0">
                                            <button type="button" id="getbatchlist" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Show Batch List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-6 col-md-4 col-xl-3 p-0 p-sm-1 pr-0">
                                            <span class="float-right text-right">Select a Batch :</span>
                                        </div>
                                        <div class="col-6 col-md-4 mt-1">
                                            <select class="form-control form-control-sm displayBatch" id="basicSelect">
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xl-5 mt-1 p-lg-0">
                                            <button type="button" id="displayBatch" class="btn btn-sm btn-primary flexCenter float-right float-sm-left">Dispaly Batch</button>
                                            <button type="button" class="btn btn-sm btn-primary flexCenter float-right float-sm-left" style="margin-left:5px;margin-right:5px;">Create PDF</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-1">
                                <div class="col-12">
                                    <table class="table" id="batchlist">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Circulator</th>
                                                <th>Circ Count</th>
                                                <th>Raw Count</th>
                                                <th>A</th>
                                                <th>B</th>
                                                <th>C</th>
                                                <th>D</th>
                                                <th>E</th>
                                                <th>F</th>
                                                <th>G</th>
                                                <th>H</th>
                                                <th>J</th>
                                                <th>K</th>
                                                <th>L</th>
                                                <th>M</th>
                                                <th>P</th>
                                                <th>R</th>
                                                <th>S</th>
                                                <th>T</th>
                                                <th>Diff</th>
                                                <th>Net</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>
@section Scripts {
    <script>
        var table = $('#batchlist');

        table.DataTable({
            responsive: true,
            "info": false,
            columns: [
                { data: '', searchable: false },
                { data: 'Circulator', searchable: true },
                { data: 'Circ Count' },
                { data: 'Raw' },
                { data: 'A' },
                { data: 'B' },
                { data: 'C' },
                { data: 'D' },
                { data: 'E' },
                { data: 'F' },
                { data: 'G' },
                { data: 'H' },
                { data: 'J' },
                { data: 'K' },
                { data: 'L' },
                { data: 'M' },
                { data: 'P' },
                { data: 'R' },
                { data: 'S' },
                { data: 'T' },
                { data: 'Diff' },
                { data: 'Net' },
            ],
        });
        $("#getbatchlist").click(function () {
            var data = {
                'id': $(".cordcirculator").find(":selected").val(),
            }
            $.ajax({
                url: "/batches/getbatchlist",
                type: "Get",
                data: data,
                success: function (res) {
                    var list = $(".displayBatch");
                    res.map(element => {
                        list.append(`<option value="${element['batchId']}">${element['batchId']}</option>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
        $("#displayBatch").click(function () {
            var data = {
                'id': parseInt($(".displayBatch").find(":selected").val()),
            }
            $.ajax({
                url: "/batches/DisplayBathListForPrint",
                type: "Get",
                data: data,
                success: function (res) {
                    var table = $('#batchlist').DataTable();
                    table.clear();
                    res.map(element => {
                        var obj = {
                            "": '',
                            "Circulator": element["kpmuserId"],
                            "Circ Count": element["batchId"],
                            "A": element["lastname"],
                            "B": element["lastname"],
                            "C": element["lastname"],
                            "D": element["lastname"],
                            "E": element["lastname"],
                            "F": element["lastname"],
                            "G": element["lastname"],
                            "H": element["lastname"],
                            "J": element["lastname"],
                            "K": element["lastname"],
                            "L": element["lastname"],
                            "M": element["lastname"],
                            "P": element["lastname"],
                            "R": element["lastname"],
                            "S": element["lastname"],
                            "T": element["lastname"],
                            "Diff": element["lastname"],
                            "Net": element["lastname"],
                        }
                        table.row.add(obj).draw();
                    })
                    table.responsive.recalc()
                    
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script>
}