@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
       
        <div class="row">
            <div class="col-12">
                <div class="card h-100">
                    <div class="card-header">
                        <h4 class="card-title">
                            KPM Voter Search
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            Enter a Batch Number:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <button type="button" class="btn btn-sm btn-primary float-right float-md-left">Find Batch</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            Choose Line To Validate
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control form-control-sm">
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <button type="button" class="btn btn-sm btn-primary float-right float-md-left">Choose Line</button>
                            </div>
                        </div>
                        <hr />
                        <h4 class="text-primary">Find a Voter</h4>
                        <div class="row">
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            Choose a City:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control petition" id="basicSelect">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            First Name:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            Last Name:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-right text-right mt-1">
                                            Digits of Street Address:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <button type="button" class="btn btn-sm btn-primary float-left float-sm-right">Search</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <table class="table" id="coordBatchReport">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Suffix</th>
                                            <th>Address</th>
                                            <th>City</th>
                                            <th>Zip</th>
                                            <th>Record Duplicate</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        var table = $('#coordBatchReport');
        table.DataTable({
            responsive: true,
            "info": false,

        });

    </script>
}