@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="content-wrapper">
    <div class="content-body">
        <!-- Basic Vertical form layout section start -->
        <section id="basic-vertical-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title">Manage Internal Validators</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mt-1">
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        <div class="alert-body">
                                            Internal Validators have to register on the site through the register function.  They should choose 'Internal Validator' as a role.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p>
                                        Once registered, the Adminstrator has to authorize their access.
                                    </p>
                                    <p>
                                        Once authorized, they can login to the site.  They will have a single menu item for 'Voter Search'. Their activity will be recorded in the Voter Search database.
                                    </p>
                                    <p>
                                        Their activity can be monitored through the
                                        <span class="alert alert-warning" role="alert">
                                            <span class="alert-body">
                                                KPM
                                            </span>
                                        </span>
                                        <span class="icon-wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        <span class="alert alert-warning" role="alert">
                                            <span class="alert-body">
                                                Reports
                                            </span>
                                        </span>
                                        <span class="icon-wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                        <span class="alert alert-warning" role="alert">
                                            <span class="alert-body">
                                                Validator
                                            </span>
                                        </span>
                                        Activity Page.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>
        <!-- Basic Vertical form layout section end -->
    </div>
</div>