/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.card{
    border: 1px solid #E0E0E0!important;
}
.customHalfMargin {
    margin-top: 0.4rem;
}
.customHalfPadding{
    padding-top:0.4rem;
}
.flexCenter {
    align-self:center!important;
}
.mt-1{
    margin-top: 0.5rem!important;
}